@font-face {
    font-family: 'futura book';
    src: url('../font/futura/FuturaBookC.Woff') format('woff'),
    url('../font/futura/FuturaBookC.Woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: wrap;
}

@font-face {
    font-family: 'futura demi';
    src: url('../font/futura/FuturaDemyC.Woff') format('woff'),
    url('../font/futura/FuturaDemyC.Woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: wrap;
}
 
