.footer{
    padding-top: 3rem;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%), url(../img/footer/bg.png) no-repeat center/cover;
    &__wrap{
        background-color: $black;
        max-width: 63.07rem;
        margin: auto;
        padding: 2.5rem;
        margin-top: -20rem;
        margin-bottom: 3.714rem;
        padding: 2.5rem;
    }
    &__title{
        text-transform: uppercase;
        font-family: 'Yeseva One', cursive;
        font-weight: normal;
        font-size: 1.428rem;
        text-align: center;
        margin-bottom: 3.214rem;
        margin-top: 0;
    }
    &__form{
        max-width: 37.127rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: auto;

    }
    &__input{
        padding-top: 0.3rem;
        &-group{
        display: flex;
        flex-direction: column;
        flex-basis: 45%;
        margin-bottom: 3.2rem;
        &-full-width{
            flex-basis: 100%;
            margin-bottom: 2rem;
        }
    }
    }
    &__policy{
        flex-basis: 100%;
        margin-bottom: 3.6rem;
    }
    &__btn{
        margin: auto;
        padding: 1.285rem 4.785rem;
    }
    &__menu{
        padding: 4.285rem 0;
    }
    &__map{
        &-item{
            width: 100%;
        }
    }
    &__item{
        max-width: 455px;
        width: 100%;
        margin: 0 auto;
        align-items: center;
        margin-bottom: 3.071rem;
        &-untitle{
            font-family: Yeseva One;
            font-style: normal;
            font-weight: normal;
            font-size: 1.428rem;
            line-height: 2rem;
            color: $primary;
            text-align: center;
            text-transform: uppercase;
        }
        &-social{
            display: flex;
            justify-content: center;
            &--link{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                background-color: $primary;
                &:not(:last-child){
                    margin-right: 1rem;
                }
            }
        }
    }
}